<h2>Create an Account</h2>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit(:class => 'button') %>
<% end %>
