<%= form_for([ current_user, @contact ]) do |f| %>
  <div class="half-col">
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :prefix %>
        <%= f.select :prefix, @contact.prefix_options, include_blank: true %>
      </div>
      <div class="form-group">
        <%= f.label :suffix %>
        <%= f.text_field :suffix %>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>
    <%= f.label :birthday %><br />
    <%= f.datetime_select :birthday %><br />
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :twitter_account_link %>
    <%= f.text_field :twitter_account_link %>
    <%= f.label :facebook_account_link %>
    <%= f.text_field :facebook_account_link %>
    <%= f.label :linkedin_account_link %>
    <%= f.text_field :linkedin_account_link %>
    <%= f.label :gplus_account_link %>
    <%= f.text_field :gplus_account_link %>
    <%= f.label :github_account_link %>
    <%= f.text_field :github_account_link %>
  </div>
  <div class="half-col">
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :address_1 %>
        <%= f.text_field :address_1 %>
      </div>
      <div class="form-group">
        <%= f.label :address_2 %>
        <%= f.text_field :address_2 %>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code %>
      </div>
      <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country %>
      </div>
    </div>
    <%= f.label :company %>
    <%= f.text_field :company %>
    <%= f.label :comapny_address_1 %>
    <%= f.text_field :company_address_1 %>
    <%= f.label :company_address_2 %>
    <%= f.text_field :company_address_2 %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :company_city %>
        <%= f.text_field :company_city %>
      </div>
      <div class="form-group">
        <%= f.label :company_state %>
        <%= f.text_field :company_state %>
      </div>
    </div>
    <%= f.label :company_postal_code %>
    <%= f.text_field :company_postal_code %>
    <%= f.label :company_country %>
    <%= f.text_field :company_country %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit %>
<% end %>
