<!DOCTYPE html>
<html>
<head>
  <title>Big Ruby Conf ActiveRecord Demonstration 2014</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= flash[:notice] %>
    <%= flash[:error] %>
    <%= yield %>
  </div>

</body>
</html>
